# MongoDB Atlas Cloud Database
MONGODB_URI=mongodb+srv://itsnaimsiddiqui_db_user:sGAWpUV7NDq24l5s@cluster0.wieofax.mongodb.net/cinehead?retryWrites=true&w=majority

# Admin Session JWT Secret
JWT_SECRET=cinehead_ultra_secure_jwt_secret_key_2026_super_production_grade_random_99482

# Admin Default Credentials (Initial admin seed)
ADMIN_EMAIL=admin@cinehead.com
ADMIN_PASSWORD=cinehead2026!admin

# Cloudinary CDN Configuration
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=eugmdmzg
CLOUDINARY_API_KEY=417132457172679
CLOUDINARY_API_SECRET=P0iJ3bYfhHxIDKIYFSD7TMTTE5g
CLOUDINARY_UPLOAD_PRESET=cinehead_uploads

# Site Base URL (Set to your Vercel URL upon deploy)
NEXT_PUBLIC_SITE_URL=https://your-domain.vercel.app
